@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s linear;
  scrollbar-width: thin;
  -webkit-scrollbar: #00ff7f
}

body{
  font-family: 'Poppins', sans-serif;
}