nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 3rem;
}

nav > a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  color: var(--color-light);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background-color: rgb(39, 39, 39);
  color: var(--color-white);
}
